<p class="flow-text center">
    
        <i style="margin-bottom:0.5em" class="large material-icons teal-text">info_outline</i>
    </p>
<p class="flow-text center">
    
        There seems to have been a mistake.<br>
        To access Connected Academy in your browser, please visit
    </p>
    <p class="flow-text center">
        <a href="https://connectedacademy.io">https://connectedacademy.io</a>
    </p>
</p>